address {
  font-style: normal;
}

button {
  background-color: transparent;
  border: none;
  text-decoration: none;
  padding: 0;
  color: #fff;
}

.body {
  background-color: #fff;
  width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  padding: 93px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 31px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  letter-spacing: 0.15px;
  text-underline-position: under;
}

.header__logo {
  display: flex;
  justify-content: center;
  height: 105px;
}

.address {
  display: flex;
  justify-content: end;
  font-size: 18px;
  line-height: 135%;
  text-underline-position: under;
}

.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  width: 100%;
  height: 100%;
  padding: 165px 50px 237px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 100%;
}

.aligned-text {
  align-items: flex-start;
  line-height: 115%;
}

.aligned-text-center {
  align-self: center;
  padding-top: 20px;
  padding-left: 45px;
}

.aligned-text-right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: calc(100% - 50px);
  padding-bottom: 47px;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.cover__description-text {
  line-height: 28px;
  padding-left: 422px;
  word-spacing: 17.5px;
}

.bet-button {
  font-family: Raleway;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 28px;
  margin-left: auto;
  border: 1px solid #fff;
  padding: 12px 32px;
}

.lots {
  padding: 182px 50px 180px;
  width: 100%;
}

.lots__heading {
  padding-left: 40px;
  padding-bottom: 27px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.lots__card-list-item {
  width: 430px;
  min-height: 450px;
  position: relative;
  color: #fff;
  /* flex-grow: 1; */
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%;
  position: relative;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: contain;
  position: relative;
  z-index: 0;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: contain;
  position: relative;
  z-index: 0;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: contain;
  position: relative;
  z-index: 0;
}