address {
  font-style: normal;
}

.body {
  background-color: #fff;
  width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  padding: 93px 50px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.header__links-list {
  list-style: circle;
  display: flex;
  gap: 31px;
  font-size: 18px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  letter-spacing: 0.15px;
  text-underline-position: under;
}

.header__logo {
  display: flex;
  justify-content: center;
  height: 105px;
}

.address {
  display: flex;
  justify-content: end;
  font-size: 18px;
  line-height: 135%;
  text-underline-position: under;
}

.cover {
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  width: 100%;
  height: 100%;
  padding: 165px 50px 237px 50px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 30px;
  line-height: 100%;
}

.aligned-text {
  align-items: flex-start;
  line-height: 115%;
}

.aligned-text-center {
  align-self: center;
  padding-top: 20px;
  padding-left: 45px;
}

.aligned-text-right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
}